html {
    font-family: sans-serif;
}

body {
    background-color: lightblue;
}

* {
    box-sizing: border-box;
}

table, td, th {
    border: 2px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.column {
    float: left;
    width: 45%;
    padding: 25px;
}

.column input {
    margin-bottom: 5px;
}

.form_index {
    margin-left: 20px;
}

.form_index input {
    margin-bottom: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: 40px;
    margin-right: 40px;
}

#new_lender_info {
    margin-bottom: 20px;
}

#send_notice_index {
    margin-bottom: 20px;
}

#city_state_zip {
    margin-bottom: 15px;
}